* {
    margin: 0;
    padding: 0;
}

.navigation {
    margin-top: 30px;
    font-family: var(--font1);
    /*height: 74px;*/
    /*background-color: #f8aaf8;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.span-a img{
    border:2px solid black;
    border-radius: 50%;
    width: 70px;
    margin-top: 10px;
    margin-left: 10px;
}

.nav-left {
    display: flex;
}

.nav-left span {
    font-size: 35px;
    padding-top: 5px;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 22px;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
    transition: all 0s ease-in-out;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
    transition: all 0s ease-in-out;
}

.nav-left ul li a:hover {
    color: beige;
    background: var(--main-bg-color);
}

.content {
    height: 100%;
    display: flex;
    margin-top: 32px;
    padding: 9px;
    position: relative;
}

.content::after {
    background-image: url('6.jpg');
    content: "";
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.2;
    border-radius: 12px;
}

.content-left {
    font-family: var(--font1);
    width: 50%;
    font-size: 23px;
    flex-direction: column;
    padding: 50px;
    z-index: 1;
}

.content-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content-right img {
    height: 455px;
    width: 320px;
    border: 2px solid black;
    border-radius: 70px;
}

.home-articles {

    padding: 18px;
    background-color: rgb(215, 247, 235, 0.4);
    margin-top: 23px;
    position: relative;
}

.year-box{
    width: 234px;
    height: 255px;
   /* background-color: aqua;*/
    position: absolute;
    right: 6px;
    top:100px;
    font-size: 18px;
}

.year-box div{
    margin: 12px 0px;
}

.home-article {
    display: flex;
    margin: 25px;

}

.home-article img {
    width: 300px;
}

.home-article-content {
    align-self: center;
    padding: 25px;
}

.home-article-content a {
    text-decoration: none;
    color: var(--main-bg-color);
}

.footer {
    height: 50px;
    background-color: rgb(229, 199, 152);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer a {
    color: rgb(104, 46, 161);
}